<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: grey;
        }
        .form {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<form class="form" action="" method="POST">
    <input name="login" value="login">
    <input type="password" name="password" value="password">
    <input type="email" name="email" value="email">
    <input type="submit" value="войти">
</form>
    <strong style="color: blue">{{ user }}</strong>
</body>
</html>